.u-section-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-1 .u-image-1 {
  width: 408px;
  height: 342px;
  margin: 1px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -330px 17px 0 415px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 253px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: 0 45px 0 425px;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  margin: -262px 717px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 0 774px 0 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 45px auto 0 186px;
  padding: 9px 34px 11px 33px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -40px auto 0 0;
}

.u-section-1 .u-icon-1 {
  width: 39px;
  height: 39px;
  background-image: none;
  margin: -456px 120px 0 auto;
  padding: 3px;
}

.u-section-1 .u-icon-2 {
  width: 39px;
  height: 39px;
  background-image: none;
  margin: 285px auto 60px 327px;
  padding: 3px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1359px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -180px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 232px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 270px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 517px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 574px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 405px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -324px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 270px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1376px;
  }

  .u-section-1 .u-image-1 {
    width: 639px;
    height: 496px;
    margin-top: 12px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 11px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-text-4 {
    width: 423px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: 366px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 70px;
    margin-right: 120px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -39px;
    margin-left: 124px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -756px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 559px;
    margin-right: 79px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1156px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 419px;
    margin-top: -260px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.6666666666666665rem;
    margin-top: 425px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    font-size: 1.6666666666666665rem;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-1 .u-image-1 {
    height: 264px;
    margin-top: 16px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 29px;
    margin-left: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -1201px;
    margin-right: 67px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 1005px;
    margin-right: 39px;
  }
}