.u-section-1 .u-sheet-1 {
  min-height: 468px;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  margin-top: 10px;
  margin-bottom: 50px;
}

.u-section-1 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(50% - 5px);
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 408px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-group-1 {
  min-height: 408px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  width: 132px;
  height: 132px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 81px auto 0;
  padding: 23px 30px 25px 29px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-group-2 {
  min-height: 408px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  width: 132px;
  height: 132px;
  margin: 14px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 81px auto 0;
  padding: 23px 30px 25px 29px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    min-height: 336px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 74px;
    margin-right: -103px;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 74px;
    margin-right: -103px;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
  }
}