.u-section-1 .u-sheet-1 {
  min-height: 557px;
}

.u-section-1 .u-group-1 {
  width: 846px;
  min-height: 410px;
  height: auto;
  margin: -7px auto 60px 116px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 87px 159px 0 auto;
  padding: 9px 51px 11px;
}

.u-section-1 .u-icon-1 {
  width: 37px;
  height: 37px;
  margin: -37px 166px 0 auto;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 21px 158px 0 auto;
  padding: 10px 105px 11px 103px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 159px 0 auto;
  padding: 9px 141px 11px 140px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 94px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 75px;
    margin-right: auto;
    margin-left: 95px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 132px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 27px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 7px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -23px;
    margin-right: 5px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 35px;
    padding-right: 52px;
    padding-bottom: 10px;
    padding-left: 51px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 10px;
    padding-right: 89px;
    padding-left: 87px;
  }
}